mixin head(title, description, ...keywords)
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        meta(name='description' content=description)
        meta(name='keywords', content=keywords.join(','))
        title= title
