@use 'styles/media' as media;

.form-elements-all {
    display: grid;
    grid-template-columns: 320px 712px;
    align-items: start;
    justify-items: start;
    row-gap: 100px;
    column-gap: max(10%, 126px);

    @media screen and (max-width: media.$DESKTOP_MEDIUM) {
        grid-template-columns: repeat(2, 320px);
    }

    @media screen and (max-width: media.$DESKTOP_SMALL) {
        grid-template-columns: 320px;
    }
}
