include /form-elements-compound/form-elements-compound
include /labeled-input/labeled-input

mixin form-elements-all()
    article.form-elements-all(class=attributes.class)
        +form-elements-compound()(class=['form-elements__compound', 'form-elements-compound_place_first-column'])
            +labeled-input('text field', 'default')
                input(type='text')
            +labeled-input('text field', 'hover / focus')
                input(type='text')
            +labeled-input('dropdown')
                input(type='text')
            +labeled-input('masked text field')
                input(type='text')
            +labeled-input('date dropdown')
                input(type='text')
            +labeled-input('date dropdown')
                input(type='text')
            +labeled-input('filter date dropdown')
                input(type='text')
            +labeled-input('subscription text field')
                input(type='text')
        +form-elements-compound()(class='form-elements__compound')
            +labeled-input('text field', 'default')
                input(type='text')
        +form-elements-compound()(class='form-elements__compound')
            +labeled-input('text field', 'default')
                input(type='text')
        +form-elements-compound()(class='form-elements__compound')
            +labeled-input('text field', 'default')
                input(type='text')
