@use 'styles/fonts' as fonts;
@use 'styles/colors' as colors;

.heading {
    @include fonts.montserrat(fonts.$WEIGHT_BOLD);
    color: colors.getColor('dark-shade-100');
    font-size: 26px;
    line-height: 29px;
}
