.color__palette {
    color: #ddd;
    background: linear-gradient(to bottom, crimson, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
