.color {
    color: purple;
    background: linear-gradient(to left, crimson, orange);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    &::before {
        width: 10px;
        height: 10px;
        background-color: black;
        left: -15px;
    }
}