@use 'styles/fonts' as fonts;
@use 'styles/colors' as colors;

.paragraph {
    @include fonts.montserrat(fonts.$WEIGHT_NORMAL);
    color: colors.getColor('dark-shade-75');
    font-size: 14px;
    line-height: 24px;
}
