$DARK_SHADE_100: #1f2041;
$DARK_SHADE_75: rgba(31, 32, 65, 0.75);
$DARK_SHADE_50: rgba(31, 32, 65, 0.5);
$DARK_SHADE_25: rgba(31, 32, 65, 0.25);
$DARK_SHADE_5: rgba(31, 32, 65, 0.05);
$PURPLE: #bc9cff;
$GREEN: #6fcf97;
