@use './fonts' as fonts;
@use './colors' as colors;

@font-face {
    font-family: 'Montserrat';
    font-weight: fonts.$WEIGHT_NORMAL;
    src: url('fonts/montserrat-regular.woff') format('woff'),
        url('fonts/montserrat-regular.ttf') format('truetype'),
        url('fonts/montserrat-regular.svg') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: fonts.$WEIGHT_BOLD;
    src: url('fonts/montserrat-bold.woff') format('woff'),
        url('fonts/montserrat-bold.ttf') format('truetype'),
        url('fonts/montserrat-bold.svg') format('svg');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: colors.$BG_LIGHT;
    @include fonts.montserrat();
}

html,
body {
    min-height: 100vh;
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
