extends ../layouts/ui-kit

include ../includes/head
block head
    +headTag('Colors and Type', 'UI-Kit: colors and font types', 'colors,type')
block content
    include /colors-and-type/colors-and-type
