extends ../layouts/ui-kit

include ../includes/head

block head
    +head('Colors and Type', 'UI-Kit: colors and font types', 'colors, type, ui kit')

block content
    include /colors-and-type-page/colors-and-type-page
