extends ../layouts/ui-kit

include ../includes/head

block head
    +headTag('Form Elements', 'UI-Kit: form elements, list, comment and features block', 'form, elements, input, range, list, radio, checkbox, dropdown')

block content
    include /form-elements/form-elements
