-
    const pages = [
        'colors-and-type',
        'form-elements',
        'cards',
        'headers-and-footers',
        'landing',
        'search-room',
        'room-details',
        'registration',
    ];

ul
    each page in pages
        li
            a(href=page + '.html')= page
