extends ../layouts/ui-kit

include ../includes/head
block head
    +headTag('Landing Page',
        'something about a landing page',
        'landing', 'page', 'lorem')

block content
    include /palette/palette
    include /text-board/text-board
