include /form-elements-compound/form-elements-compound
include /labeled-input/labeled-input

main.form-elements
    +form-elements-compound()(class='form-elements__compound')
        +labeled-input('1 label maybe you go out with me tonight? Even though you\'re too busy... I hope we could meet today.', 'sublabel')
    +form-elements-compound()(class='form-elements__compound')
        +labeled-input('2 label and some text added', 'text ipsum dorem torem lorem')
    +form-elements-compound()(class='form-elements__compound')
        +labeled-input('3 label', 'sublabel')
    +form-elements-compound()(class='form-elements__compound')
        +labeled-input('4 label', 'lorem')
    +form-elements-compound()(class='form-elements__compound')
        +labeled-input('5 label', 'sublabel')
    +form-elements-compound()(class='form-elements__compound')
        +labeled-input('6 label', 'sublabel')
    +form-elements-compound()(class='form-elements__compound')
        +labeled-input('7 label', 'sublabel')
