.form-elements {
    padding: 140px;
    padding-bottom: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: start;
    row-gap: 100px;
    column-gap: 126px;

    &__compound {
        &:last-child {
            // margin-top: -100px;
        }
    }
}
