@use 'styles/fonts' as fonts;
@use 'styles/colors' as colors;

$DISPLAY_SIZE: 70px;

.color {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;

    &__display {
        min-width: $DISPLAY_SIZE;
        min-height: $DISPLAY_SIZE;
        border-radius: 6px;

        @each $name, $color in colors.$colors {
            &_color_#{'#{$name}'} {
                background-color: $color;
            }
        }
    }

    &__text {
        color: colors.getColor('dark-shade-100');
        font-size: 19px;
        line-height: 28px;
    }

    &__name {
        font-weight: fonts.$WEIGHT_BOLD;
    }
}
