@use 'sass:map';
@import 'styles/fonts';
@import 'styles/colors';

$display-size: 70px;

.color {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;

    &__display {
        width: $display-size;
        height: $display-size;
        border-radius: 6px;
    }

    &__text {
        color: map.get($colors, 'dark-shade-100');
        font-size: 19px;
        line-height: 28px;
    }

    &__name {
        font-weight: $WEIGHT_BOLD;
    }
}
