include /text/text

mixin text-example(type, title, example)
    .text-example(class=attributes.class)
        +text(title)(class=[type, 'text_pale', 'text-example__title'])
        +text(example)(class=type)