include /heading/heading
include /subheading/subheading
include /label/label
include /paragraph/paragraph

mixin text(type, title, example)
    .text(class=attributes.class)
        case type
            when 'heading'
                +heading(title)(class=['text__title', 'text__title_pale'])
                +heading(example)
            when 'subheading'
                +subheading(title)(class=['text__title', 'text__title_pale'])
                +subheading(example)
            when 'label'
                +label(title)(class=['text__title', 'text__title_pale'])
                +label(example)
            when 'paragraph'
                +paragraph(title)(class=['text__title', 'text__title_pale'])
                +paragraph(example)