mixin text(type, title, example)
    .text(class=attributes.class)
        case type
            when 'heading'
                include /heading/heading
                +heading(title)(class=['pale-text', 'text__title'])
                +heading(example)
            when 'subheading'
                include /subheading/subheading
                +subheading(title)(class=['pale-text', 'text__title'])
                +subheading(example)
            when 'label'
                include /label/label
                +label(title)(class=['pale-text', 'text__title'])
                +label(example)
            when 'paragraph'
                include /paragraph/paragraph
                +paragraph(title)(class=['pale-text', 'text__title'])
                +paragraph(example)