@use 'styles/fonts' as fonts;
@use 'styles/colors' as colors;

.text {
    @include fonts.montserrat(fonts.$WEIGHT_NORMAL);
    color: colors.getColor('dark-shade-100');

    &_type {
        &_heading {
            font-weight: fonts.$WEIGHT_BOLD;
            font-size: 26px;
            line-height: 29px;
        }

        &_subheading {
            font-weight: fonts.$WEIGHT_BOLD;
            font-size: 19px;
            line-height: 23px;
        }

        &_label {
            font-weight: fonts.$WEIGHT_BOLD;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }

        &_paragraph {
            color: colors.getColor('dark-shade-75');
            font-size: 14px;
            line-height: 24px;
        }
    }

    &_pale {
        font-weight: fonts.$WEIGHT_NORMAL;
        color: colors.getColor('dark-shade-25');
    }
}
