include /text/text

mixin labeled-input(label, sublabel)
    fieldset.labeled-input(class=attributes.class)
        legend.labeled-input__legend
            +text(label)(class='text_type_label')
            br
            +text(sublabel)(class=['text_type_label', 'text_pale'])
        block