.labeled-input {
    &__legend {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__description {
        flex-shrink: 1;
        text-align: right;
    }

    &__form-block {
        display: flex;
        flex-wrap: wrap;
    }
}
