@use 'styles/colors' as colors;
@use 'styles/media' as media;

.colors-and-type-page {
    min-height: 100%;
    padding: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: colors.$BG_LIGHT;

    @media screen and (max-width: media.$TABLET) {
        padding: 50px;
        padding-top: 120px;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    @media screen and (max-width: media.$MOBILE) {
        padding: 120px 10px 30px 10px;
        gap: 50px;
    }
}
