doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        block head
    body
        block logo
            include /logo-line/logo-line
        block content
